<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
  </head>
  <body>
    <h1><%= @stock.name %> low in stock</h1>
    <p>
      Only <%= @stock.quantity %> <%= @stock.name %> remaining. 
    </p>
    <p>
      Please restock soon. 
    </p>
    <p>Thank you, <br/>LIIM</p>
  </body>
</html>
