<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
  </head>
  <body>
    <h1>Weekly Report</h1>
	<table>
		<tr>
			<th>Name</th>
			<th>Quantity</th>
		</tr>

		<% @stocks.each do |stock| %>
			<tr>
				<td><%= stock.name %></td>
				<td><%= stock.quantity %></td>
			</tr>
		<% end %>
	</table>
    <p>Thank you, <br/>LIIM</p>
  </body>
</html>
