<!doctype html>
<body>
<div class="container-fluid middle">
<h1 class="text-center">Choose Team</h1>
<ul style= "margin-left: 0px;">
  <li class="btn btn-large btn-block btn-primary" type="button">Hardware</li>
  <li class="btn btn-large btn-block btn-primary" type="button">TelOps</li>
</ul>
</div>