<h1>Stock Information</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Quantity</th>
  </tr>

<% @stocks.each do |stock| %>
  <tr>
    <td><%= stock.name %></td>
    <td><%= stock.quantity %></td>
  </tr>
<% end %>
</table>

<br />