<!DOCTYPE html>
<html>
<head>
  <title>LIIM</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;"/>

  <h2 class="text-right stockin">LIIM</h2>
  <h5 class="text-right stockin">Inventory Management</h5>
</head>
<body>
<div class="container">
<ul class="nav nav-pills">
  <li class="active">
    <a href="/">Home</a>
  </li>
  <li><a href="/add"> Bulk Add</a></li>
  <li><a href="/out">Bulk Checkout</a></li>
  <li><a href="/stocks/new">Add New Item</a></li>
</ul>
<%= yield %>
</div>
</body>
</html>
